.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(5, 104, 38);
  border-radius: 10px;
  background-color: rgb(250, 224, 239);
  margin-top: 0.8rem;
}

.case {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10rem;
  cursor: pointer;
}

.case-palette {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 10rem;
  cursor: pointer;
}

.case:hover, .case-palette:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.proposal-container {
  position: relative;
}

.palette {
  position: absolute;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}